<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigSmile</title>
    <link rel="stylesheet" href="/static/css/details.css">
   </head>
<body>
    <div class="container">
        <div class="profile">
            <img src="/static/img/bigsmile.jpg" alt="Profile Picture" class="profile-pic">
            <h1>BigSmile</h1>
            <p>အကောင်းဆုံးဝန်ဆောင်မှုနှင့်အတူ စိတ်ချယုံကြည့်စွာအားပေးနိုင်ပါတယ် ✅✅✅</p>
            <div class="social-links">
                <a href="https://t.me/thirismile">Telegram</a>
                <hr>
                <a href="https://www.tiktok.com/@thiri_smile">Tiktok</a>
                <hr>
                <a href="https://www.facebook.com/people/Big-Smile/100086282184561/">Facebook</a>
            </div>
        </div>
    </div>
</body>
</html>
